﻿<style>
	pre {font-family:trebuchet ms; font-size:12px}
	a {font-size:15px; font-weight:bold}
</style>

<pre>

<a href="cddvdmanager.rar">Download Livan CD DVD Manager</a>

Livan CD DVD manager adalah sebuah aplikasi untuk mengelola koleksi CD DVD.

Aplikasi ini membantu saya untuk mencari informasi yang saya perlukan yang tersimpan
pada salah satu dari sekian banyak CD / DVD yang saya miliki

aplikasi ini hanya menggunakan 1 database yang di dalamnya terdapat dua tabel
tabel pertama adalah tabel alias, yang menyimpan informasi bahwa
"nomor serial CD tertentu itu dipanggil sebagai CD apa"

ilustrasi isinya adalah sebagai berikut
<img src=tableAlias.jpg alt="table alias" />  

sedangkan table kedua adalah table yang mencatat isi dari cd / dvd itu
ilustrasinya adalah sebagai berikut
<img src=tableLivan.jpg alt="table livan" />

dan ini adalah tampilan user interfacenya
<img src=guimanager.jpg alt="gui" />

Jika saya ingin mencari file file berhubungan dengan pdf
saya hanya masukkan keywordnya pada kotak query
setelah itu saya tekan tombol Search
lalu hasilnya ada pada grid

kelebihan dari program ini adalah proses update dari user interface
akan sangat mudah jika program telah berada pada sisi client,
ini dikarenakan antara engine dan user interface adalah
terpisah kedalam module-module

saya dapat menyebut module-module ini sebagai plug-in yang
sewaktu-waktu dapat client upgrade
</pre>
